<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='/stylesheets/style.css' /> 
    <script type = "text/javascript" >
        
           function preventBack(){window.history.forward();}
        
            setTimeout("preventBack()", 0);
        
            window.onunload=function(){null};
        
        </script>
        <meta http-equiv="refresh" content="0;url=/login" />
</head>

<body>
        <%if (!userdetails) { %>
            <% include Template/header.ejs %>
        <% } %>

        <%if (userdetails) { %>
            <% include Template/header1.ejs %>
        <% } %>
</body>

</html>