<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='\stylesheets\style.css' />
    <script type="text/javascript">
        // function refresh() {
        //     if (!!window.performance && window.performance.navigation.type === 2) {
        //         // value 2 means "The page was accessed by navigating into the history"
        //         console.log('Reloading');
        //         window.location.reload(); // reload whole page
        //     }

        // } 
        
        function refresh() {
            if (window.localStorage) {
                if (!localStorage.getItem('firstLoad')) {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                }
                else
                    localStorage.removeItem('firstLoad');
            }
        };
    </script>
</head>

<body onload="refresh();">
    <% include Template/header.ejs %>
        <br>
        <br>
        <br>
        <!-- <h1>
            <%= title %>
        </h1> -->
        <div id="image">
            <center>
                <h2>Welcome to Login Page</h2>
                <form action="/login/loginpage" method="POST">
                    <br>Username: &ensp;&ensp;
                    <input type="text" name="username">
                    <br>
                    <br>Password: &ensp;&ensp;
                    <input type="password" name="password">
                    <br>
                    <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <input type="submit">
                    <br>
                    <br>Still not Registered?
                    <a href="/register">Click Here</a> to Register
                </form>
            </center>
        </div>
</body>

</html>