<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <script type="text/javascript">
        // function refresh() {
        //     if (!!window.performance && window.performance.navigation.type === 2) {
        //         // value 2 means "The page was accessed by navigating into the history"
        //         console.log('Reloading');
        //         window.location.reload(); // reload whole page
        //     }

        // }    

        function refresh() {
            if (window.localStorage) {
                if (!localStorage.getItem('firstLoad')) {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                }
                else
                    localStorage.removeItem('firstLoad');
            }
        };
    </script>
    <style>
        #profile {
            margin-left: 40%;
            margin-right: 30%;
            margin-top: 10%;
        }
    </style>
</head>

<body onload="refresh();">

    <%if (!userdetails) { %>
        <% include Template/header.ejs %>
    <% } %>
    
    <%if (userdetails.role === "User") { %>
        <% include Template/header1.ejs %>
    <% } %>
    <%if (userdetails.role === "Admin") { %>
        <% include Template/headerAdmin.ejs %>
    <% } %>

        <br>
        <br>
        <br>
        <br>
        <div id="profile">
            <ul>
                <li>
                    <h2>
                        Firstname:&ensp;&ensp;
                        <%= userdetails.firstname %>
                    </h2>
                </li>
                <li>
                    <h2>
                        Lastname:&ensp;&ensp;
                        <%= userdetails.lastname %>
                    </h2>
                </li>
                <li>
                    <h2>
                        Username:&ensp;&ensp;
                        <%= userdetails.username %>
                    </h2>
                </li>
            </ul>
            <br><h3><a href = "/updates"> Click Here</a> to Update your profile</h3>
        </div>
</body>

</html>