<!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 10px;
            font-size: 17px;
            width: 20%;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content */

        #London {
            background-color: red;
        }

        #Paris {
            background-color: green;
        }

        #Tokyo {
            background-color: blue;
        }

        #Oslo {
            background-color: orange;
        }

        #header {
            background-color: rgba(44, 5, 117, 0.966);
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="header">
        <img src="\images\logo.jpg" alt="Cities" height="150" onclick="window.location.href='/'">
    </div>
    <div>
        <input type="button" value="London" class="tablink" onclick="window.location.href='/london'">
        <input type="button" value="Paris" class="tablink" onclick="window.location.href='/paris'">
        <input type="button" value="Tokyo" class="tablink" onclick="window.location.href='/tokyo'">
        <input type="button" value="New York" class="tablink" onclick="window.location.href='/newyork'">
        <input type="button" value="Login / Register" class="tablink" onclick="window.location.href='/login'">
    </div>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="header">
        <img src="\images\logo.jpg" alt="Cities" height="150" onclick="window.location.href='/'">
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">City Wiki</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"> Home</a>
                </li>
                <li>
                        <a href="#"> About Us</a>
                    </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Cities
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/london">London</a>
                        </li>
                        <li>
                            <a href="/paris">Paris</a>
                        </li>
                        <li>
                            <a href="/newyork">New York</a>
                        </li>
                        <li>
                            <a href="/tokyo">Tokyo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li>
                    <a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </nav>

</body>

</html>